{% extends "news/base.html" %}
{% block content %}
    <div class="container my-3">
        <form role="search" action="search" method="post">
            <div class="d-flex">
                <input class="form-control me-2 rounded-pill" type="search" name="search" placeholder="Search something" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </form>
        <p class="h3 my-3">Kết quả tìm kiếm cho {{query}}:</p>
        <div class="flex-container">
            {% for i in k_idx %}
                <div class="card my-3">
                    <div class="row">
                        <div class="col-3">
                            <img src="{{data[i].imglink}}" style="width:100%; height: 200px;" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class = "stretched-link link-underline link-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="{{data[i].link}}">
                                        {% print(data[i].title) %}
                                    </a>
                                </h5>
                                <p class="card-text text-muted">
                                    {%print("Date post: " + data[i].time)%}
                                </p>
                                <p class="card-text">
                                    {%print(data[i].abstract)%}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <p class="card-text">
                                        {%print("cosine: " + similarities[loop.index0]|string)%}
                                    </p>
                                    <p class="card-text">
                                        {%print("Thể loại: " + data[i].topic) %}
                                    </p>
                                    <p class="card-text">
                                        {%print("Nguồn: "+ data[i].source)%}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <form action="/submit_scores" method="post">
                {% for i in range(10) %}
                    <label for="score{{ i }}">Score for result {{ i + 1 }}:</label>
                    <input type="number" id="score{{ i }}" name="scores" min="0" max="5" required>
                    <br>
                {% endfor %}
                <button type="submit">Send Scores</button>
            </form>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {{ pagination.links }}
            </ul>
        </nav>
    </div>
{% endblock content %}